<mat-sidenav-container class="x-container" autosize>
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <mat-list-item>
                <a matLine routerLink="/man/c/list">Videos</a>
                <button mat-icon-button>
                    <mat-icon>info</mat-icon>
                </button>
            </mat-list-item>
            <mat-list-item>
                <a matLine routerLink="/man/c/add-video">Add Video</a>
                <button mat-icon-button>
                    <mat-icon>info</mat-icon>
                </button>
            </mat-list-item>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

