<video
        [id]="id"
        class="video-js vjs-default-skin"
        controls
        autoplay
        [height]="height" [width]="width"
        data-setup='{
                     "techOrder": ["youtube"],
                      "sources": [
                        {
                            "type": "video/youtube",
                             "src": "https://www.youtube.com/watch?v=xjS6SftYQaQ"
                         }
                     ],
                     "youtube": {
                        "customVars": { "wmode": "transparent" },
                        "ytControls": 0
                     }
                 }'>
</video>
