<mat-sidenav-container class="x-container" autosize>
    <mat-sidenav mode="side" opened position="end">
        <mat-nav-list>
            <mat-list-item *ngFor="let video of videos">
                <span (click)="selectVideo(video)">{{video?.videoTitle || video?.videoId}}</span>
            </mat-list-item>
        </mat-nav-list>
<!--        <div *ngFor="let video of videos">-->
<!--            <div (click)="selectVideo(video)">-->
<!--                <span>{{video?.videoTitle || video?.videoId}}</span>-->
<!--            </div>-->
<!--        </div>-->
    </mat-sidenav>
    <mat-sidenav-content>
        <youtube-player [showBeforeIframeApiLoads]="false"
                [videoId]="selected?.videoId"
                (ready)="onPlayerReady($event)" (stateChange)="onChanges($event)"></youtube-player>

        <span>{{selected?.videoTitle}}</span>
        <p>{{selected?.notes}}</p>
    </mat-sidenav-content>
</mat-sidenav-container>
