<mat-sidenav-container class="x-container" autosize>
    <mat-sidenav mode="side" opened position="end">
        <mat-list>
            <mat-list-item *ngFor="let video of videos">
<!--                <img matline src="{{video.thumbnailUrl}}">-->
                <span matLine (click)="selectVideo(video)">{{video?.videoTitle || video?.videoId}}</span>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <youtube-player [showBeforeIframeApiLoads]="false"
                [videoId]="selected?.videoId"
                (ready)="onPlayerReady($event)" (stateChange)="onChanges($event)"></youtube-player>

        <div>{{selected?.videoTitle}}</div>
        <p>{{selected?.notes}}</p>
    </mat-sidenav-content>
</mat-sidenav-container>
