.x-footer {
  height: 64px;
  background-color: whitesmoke;
  ul {
    display: table;
    list-style-type: none;
    padding: 16px;
    margin: auto;
    li {
      float: left;
      padding-left: 16px;
      a, a:visited {
        color: gray;
        text-decoration: none;
      }
    }
  }
}
